body {
  width:  100vw;
  height: 100vh;
  margin: 0;
  color:  white;
  background-image: radial-gradient(gray,black);
  font-family 'Roboto Mono', monospace;
  font-size-adjust: 0.5;
  text-rendering: optimizeLegibility;
}
#spel {
  background-color: #00a4c9;
  border: 5px #ffffff50 solid;
  box-sizing: border-box;
  line-height: 1;
  height: 90vmin;
  width:  90vmin;
  margin: auto;
  display: grid;
}
#spel > div{
  background-color: #00000040;
}
#spel > div,
#status{
  text-align: center;
}
.vakje,.bom{
  border: 0.5vmin solid;
  border-color: #ffffff50 #00000050 #00000050 #ffffff50;
  box-sizing: border-box;
}
.flag:not(.open){
  font-size: 80%;
}
.open {
  border: 1px solid #00000020;
  background-color: #00000090;
  box-sizing: border-box;
}
#status {
  margin-top: 5px;
  clear: both;
  margin: auto;
  padding: 0 1rem;
  width: max-content;
}
.een { color: #e76346; }

.twee { color: #71c9ff; }

.drie { color: #57da59; }

.vier{ color: #bb41d3; }

