body {
  width:  100vw;
  height: 100vh;
  margin: 0;
  color:  white;
  background-image: radial-gradient(gray,black);
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: left;
}
#score {
  font-size: 8vmin;
  padding: 1vmin 2vmin;
  margin: 0;
  background-color: black;
}
#spel {
  border: 5px #ffffff50 solid;
  box-sizing: border-box;
  width:  calc(100vh / 18 * 12);
  height: 100vh;
  display: grid;
  grid-template-rows:    repeat(18, 1fr);
  grid-template-columns: repeat(12, 1fr);
}
.blokje{
  border: .5vmin solid;
  box-sizing: border-box;
  border-color: #ffffff50 #00000050 #00000050 #ffffff50;
  background-color: gray;
}
.lijn, .blokje {
  border: .5vmin solid;
  box-sizing: border-box;
  border-color: #ffffff50 #00000050 #00000050 #ffffff50;
}
.lijn {
  background-color: hsl(50, 100%, 50%);
  grid-column-start: 1;
  grid-column-end: 13;
}
.blokje {
  background-color: gray;
}
