#graad,
.cartoon,
img.schema {
  background-color: white;
}
#graad {
  display: none;
  width:  60px;
  height: 90px;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: auto 80px;
  margin-bottom: -90px;
}
#graad:before{
  font-size: 10px;
  font-weight: bolder;
  color: black;
  display: block;
  text-align: center;
}

body.starter   #graad:before{ content: "starter"; }
body.gevorderd #graad:before{ content: "gevorderd"; }
body.expert    #graad:before{ content: "expert"; }
body.starter   #graad{ background-image: url('level.svg#starter'); }
body.gevorderd #graad{ background-image: url('level.svg#advanced'); }
body.expert    #graad{ background-image: url('level.svg#expert'); }

.codehilite {
  overflow: auto hidden;
}
.codehilite > pre {
  line-height: 1.1;
}

.cartoon{
  margin: auto;
  padding: 1rem;
  font-size: x-small;
  text-align: right;
  background-size: 250px;
  background-position: center center;
  background-repeat: no-repeat;
}
.cartoon p{
  margin: 0;
}
.inline{
  display: inline-block;
  padding: 0 1rem;
}
iframe{
  vertical-align: top;
}

.cartoon,
img.schema {
  height: 250px;
  width:  250px;
  color:  black;
}

.cartoon.amused    { background-image: url('girl.svg#amused');     }
.cartoon.angry     { background-image: url('girl.svg#angry');      }
.cartoon.cheerful  { background-image: url('girl.svg#cheerful');   }
.cartoon.committed { background-image: url('girl.svg#committed');  }
.cartoon.confident { background-image: url('girl.svg#confident');  }
.cartoon.driving   { background-image: url('girl.svg#driving');    }
.cartoon.frustrated{ background-image: url('girl.svg#frustrated'); }
.cartoon.frightened{ background-image: url('girl.svg#frightened'); }
.cartoon.gasping   { background-image: url('girl.svg#gasping');    }
.cartoon.gitcommit { background-image: url('girl.svg#gitcommit');  }
.cartoon.gitmerge  { background-image: url('girl.svg#gitmerge');   }
.cartoon.gitpull   { background-image: url('girl.svg#gitpull');    }
.cartoon.gitpush   { background-image: url('girl.svg#gitpush');    }
.cartoon.helpless  { background-image: url('girl.svg#helpless');   }
.cartoon.inspired  { background-image: url('girl.svg#inspired');   }
.cartoon.lol       { background-image: url('girl.svg#lol');        }
.cartoon.lookahead { background-image: url('girl.svg#lookahead');  }
.cartoon.magic     { background-image: url('girl.svg#magic');      }
.cartoon.mean      { background-image: url('girl.svg#mean');       }
.cartoon.minesweeper { background-image: url('girl.svg#minesweeper'); }
.cartoon.paused    { background-image: url('girl.svg#paused');     }
.cartoon.reasoning { background-image: url('girl.svg#reasoning');  }
.cartoon.snakespel { background-image: url('girl.svg#snakespel');  }
.cartoon.surprised { background-image: url('girl.svg#surprised');  }
.cartoon.tetrisspel{ background-image: url('girl.svg#tetrisspel'); }
.cartoon.thinking  { background-image: url('girl.svg#thinking');   }

blockquote p{
  margin: 0;
}
blockquote{
  padding:   0.5em 1em;
  color:     var(--opvallende-kleur);
  background-color: var(--opvallende-achtergrond);
  border-radius:1em;
}

li{
  line-height: 1.5;
  padding-bottom: 0.3rem;
}
ul.checklist{
  list-style: none;
}
ul.checklist li{
  text-indent: -34px;
}
ul.checklist li input[type=checkbox]{
  background-color: transparent;
  background-position: top left;
  background-size: 24px;
  background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="28px" height="28px" fill="none" stroke-linecap="round" stroke-linejoin="round"><rect stroke-width="1" stroke="lightgray" x="1" y="1" width="9" height="9" rx="2"/></svg>');
  background-repeat: no-repeat;
  appearance: none;
  position: relative;
  height: 24px;
  width: 24px;
  top:   11px;
}
ul.checklist li input[type=checkbox]:checked{
  background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="28px" height="28px" fill="none" stroke-linecap="round" stroke-linejoin="round"><rect stroke-width="1" stroke="lightgray" x="1" y="1" width="9" height="9" rx="2"/><path stroke-width="2" stroke="green" d="m1 6c1.8.9 3.7 2.7 4.1 4.4.3-1.9.2-5.8 5.1-9" /></svg>');
}
@media screen and (prefers-color-scheme: dark) {
  ul.checklist li input[type=checkbox]{
    background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="28px" height="28px" fill="none" stroke-linecap="round" stroke-linejoin="round"><rect stroke-width="1" stroke="darkslategray" x="1" y="1" width="9" height="9" rx="2"/></svg>');
  }
  ul.checklist li input[type=checkbox]:checked{
    background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="28px" height="28px" fill="none" stroke-linecap="round" stroke-linejoin="round"><rect stroke-width="1" stroke="darkslategray" x="1" y="1" width="9" height="9" rx="2"/><path stroke-width="2" stroke="green" d="m1 6c1.8.9 3.7 2.7 4.1 4.4.3-1.9.2-5.8 5.1-9" /></svg>');
  }
}

h1,h2,h3,h4{
  color: var(--opvallende-kleur);
}
h1{
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1em;
}
h2{
  margin: 1.2em 0;
}
article code,
a {
  padding: 0  0.2em;
  text-decoration: none;
}
article code{
  color: var(--code-kleur);
}
a {
  color: var(--link-kleur);
}

footer > a{
  text-align: center;
  border:  2px solid var(--rand-kleur);
  border-radius: 10px;
  padding: 0.2rem 1rem;
}
footer > a{
  background-color: var(--achtergrond-kleur);
}
footer > a:active{
  background-color: var(--tekst-kleur);
}
footer > a:active,
footer > a:hover{
  border: 2px solid var(--tekst-kleur);
}

em:before{ content: '“'; }
em:after{ content: '”'; }

.codehilite {
  overflow: auto hidden;
}
.codehilite > pre {
  line-height: 1.1;
}

@supports (display: inline-grid) {
  .tetris,
  .tetromino{
    display:inline-grid;
  }
  .tetris{
    grid-template:repeat(18,25px)/repeat(12,25px);
  }
  .tetromino.four{
    grid-template:repeat(4,20px)/repeat(4,20px);
  }
  .tetromino.five{
    grid-template:repeat(5,20px)/repeat(5,20px);
  }
}
@supports not (display: inline-grid) {
  .tetris,
  .tetromino{
    /* display: inline-block; */
    display: inline-flex;
    flex-flow: row wrap;
  }
  .tetris > div{
    width:  25px;
    height: 25px;
    flex-grow: 1;
  }
  .tetromino > div{
    width:  20px;
    height: 20px;
    flex-grow: 1;
  }
}

.tetris,
.tetromino{
  vertical-align: bottom;
  margin: 20px;
}
.tetris{
  width:  300px;
  height: 450px;
  counter-set: rooster -1;
}
.tetris.rooster > div{
  counter-increment: rooster;
}
.tetris.rooster > div::before{
  content: counter(rooster,decimal-leading-zero);
}
.tetromino{
  width:  80px;
  height: 80px;
}
.tetris > div{
  max-width:  25px;
  max-height: 25px;
}
.tetromino > div{
  max-width:  20px;
  max-height: 20px;
}
.tetris > div,
.tetromino > div{
  line-height: 1;
  text-align:  center;
  font-family: monospace;
  font-size:  10px;
  padding: 5px 0px;
  background-color: var(--achtergrond-kleur);
}
.tetris > div,
.tetromino > div:not(.l){
  border: var(--rand-kleur) solid 1px;
}
.tetris > div.t,
.tetromino > div.t{
  background-color: var(--rand-kleur);
  border: var(--opvallende-kleur) solid 1px;
}
.tetris > div.t.a{
  border: var(--opvallende-kleur) solid 2px;
}
.tetris.values div:not(.t):after,
.tetromino.hover:active div:after,
.tetromino.hover:hover div:after{
  content: '0';
}
.tetris.values div.t:not(.a):after,
.tetromino.hover:active div.t:after,
.tetromino.hover:hover div.t:after{
  content: '1';
}

@supports (display: grid) {
  .schema-container{
    display: grid;
    grid-template-columns: 1fr;
  }
}

img {
  margin: auto;
}
img.chopped {
  object-fit: cover;
  object-position: left -10px;
  height: 85vw;
}



@media screen and (min-width: 360px){
  code.b{
    display: inline-block;
    margin: initial;
  }
  #graad{
    display: block;
  }
  main > h1:first-of-type{
    height: 150px;
    line-height: 150px;
    text-align:  left;
    margin-left: 60px;
  }
}
@media screen and (min-width: 700px){
  .blocks,
  .codehilite {
    margin: 2rem 0 2rem 2rem;
    line-height: 1.2;
  }
  main > h1:first-of-type{
    text-align: center;
    margin: 0 0 1em 0;
  }
}
