@charset "UTF-8";
* {
  box-sizing: inherit;
}
:root {
  --achtergrond-kleur: #fff;
  --achtergrond-cdj:   #00a4c9;
  --rand-kleur:  #ddd;
  --link-kleur:  #0060a0;
  --code-kleur:  #c00;
  --tekst-kleur: #222;
  --opvallende-kleur: black;
  --opvallende-achtergrond: #00dfff;
  --starter:   gold;
  --gevorderd: red;
  --expert:    dodgerblue;
  --hoogte-maat: 16px;
}
@media screen and (prefers-color-scheme: dark) {
  :root {
    --achtergrond-kleur: #111;
    --achtergrond-cdj:   #0080a5;
    --rand-kleur:  #444;
    --link-kleur:  #30bfff;
    /* --link-kleur:  #20afef; */
    --code-kleur:  #f66;
    --tekst-kleur: #eee;
    --opvallende-kleur: white;
    --opvallende-achtergrond: #000;
    --hoogte-maat: 18px;
  }
}
@media only print {
  header {
    display: none;
  }
}
@media screen {
  @media not (prefers-reduced-motion: reduce) {
    #wrap{
      opacity: 0;
      min-height: 100%;
      transition: all 0.5s ease-out;
    }
    #loader {
      border:     16px solid #f3f3f3;
      border-top: 16px solid #3498db;
      border-radius: 50%;
      width:  120px;
      height: 120px;
      margin-left: calc((100vw - 140px)/2);
      margin-top:  200px;
      animation: spin 1s linear infinite;
    }
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  }
  @media (prefers-reduced-motion: reduce) {
    #loader {
      display: none;
    }
  }
}
html {
  margin: 0;
  padding: 0;
  overflow: hidden auto;
  box-sizing: border-box;
  text-rendering:  optimizeLegibility;
  background-color: black;
}
body {
  color: var(--tekst-kleur);
  font-size-adjust: 1;
  font: var(--hoogte-maat)/1.5 DejaVu Sans, Georgia, sans-serif;
  background-color: var(--achtergrond-kleur);
  overflow-y: hidden;
  padding: 0;
  margin: 0;
}
html, body, header, #warn, footer{
  width: calc(100vw - 25px);
  max-width: 840px;
}
#warn{
  display: none;
  background-color: darksalmon;
  padding: 1rem;
}
#naarBoven {
  right:   1rem;
  bottom:  calc((var(--hoogte-maat) * 2) + 50px + 1rem);
  width:   60px;
  height:  60px;
  padding: 0;
  opacity: 0;
  outline: 0;
  border: 2px solid var(--rand-kleur);
  border-radius: 50%;
  position:   fixed;
  visibility: hidden;
  background-color: var(--achtergrond-kleur);
  color:            var(--tekst-kleur);
  transition: background .12s,color .12s,visibility .3s,opacity .3s,box-shadow .3s;
  box-shadow: 0 8px 16px -2px rgba(0,32,64,.15);
  cursor: pointer;
  z-index: 2;
}
#naarBoven.zichtbaar {
  visibility: visible;
  opacity: 1;
}
iframe {
  border: none;
  object-fit: contain;
}
header, footer{
  display:   flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--achtergrond-cdj);
  background-size: var(--hoogte-maat) var(--hoogte-maat), var(--hoogte-maat) var(--hoogte-maat), 100% var(--hoogte-maat);
  background-repeat: repeat-x;
  padding-left:  1rem;
  padding-right: 1rem;
  offset-anchor: calc(var(--hoogte-maat) * -2);
}
body > header {
  justify-content: center;
}
header > * {
  flex-shrink: 0;
  height: 50px;
}
h1{
  font-size:   200%;
  overflow:    hidden;
  text-align:  center;
}
header > h1 {
  color:  black;
  margin: 0;
  font-variant-caps: small-caps;
}
header svg text{
  font-size:   20px;
  font-family: DejaVu Sans, Georgia, sans-serif;
}
header svg{
  max-width:  50px;
  flex-basis: content;
}
header svg#logo,
header svg#logo text tspan,
header svg#logo text{
  display: none;
}
header svg#logo text{
  font-weight:  bold;
  font-stretch: ultra-condensed;
}

footer {
  background-image: linear-gradient(135deg, var(--achtergrond-kleur) 0%, var(--achtergrond-kleur) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%), linear-gradient(-135deg, var(--achtergrond-kleur) 0%, var(--achtergrond-kleur) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
  /* chromium: small misalignment when using center in stead of left */
  background-position: top left, top left, top left;
  padding-top:    calc(var(--hoogte-maat) * 2);
  padding-bottom: 1rem;
}
header {
  background-image: linear-gradient(45deg, var(--achtergrond-kleur) 0%, var(--achtergrond-kleur) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%), linear-gradient(-45deg, var(--achtergrond-kleur) 0%, var(--achtergrond-kleur) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%), linear-gradient(to top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
  /* chromium: small misalignment when using center in stead of left */
  background-position: bottom left, bottom left, bottom left;
  padding-bottom: calc(var(--hoogte-maat) * 2);
  padding-bottom: 2rem;
}
header > *{ align-self: start; }
footer > *{ align-self: end; }
footer > time {
  display: none;
}

div.voorbeeld {
  background-color: var(--achtergrond-kleur);
  padding: 0.5rem 0 0.5rem 3rem;
}
nav {
  display: none;
}
main {
  padding: 0 0.5rem;
}
article > footer {
  margin-top: 8rem;
}
article > footer > p {
  margin: 0;
}
article > h2 {
  /* line-height: 1.2; */
  padding: 1rem 0;
}
#wrap > div {
  margin: 24px 0;
  line-height: 2;
}
.count {
  counter-set: chapter 0;
}
.count a {
  counter-increment: chapter;
}
.count a:before {
  white-space: nowrap;
  content: counter(chapter,decimal-leading-zero)" ";
}
#wrap > div > h2{
  margin: 0;
  line-height: 1;
  text-align: center;
}
@supports (display: grid) {
  .overzicht,
  #wrap > div {
    gap: 8px;
    display: grid;
    justify-items:  stretch;
    align-items:    stretch;
  }
  #wrap > div {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
  }
  .overzicht{
    grid-auto-flow: column;
    grid-auto-columns: max-content;
  }
  .overzicht.r4{  grid-template-rows: repeat(4, 1.4em); }
  .overzicht.r5{  grid-template-rows: repeat(5, 1.4em); }
  .overzicht.r6{  grid-template-rows: repeat(6, 1.4em); }
  .overzicht.r7{  grid-template-rows: repeat(7, 1.4em); }
  .overzicht.r8{  grid-template-rows: repeat(8, 1.4em); }
  .overzicht.r10{ grid-template-rows: repeat(10, 1.4em); }
  #wrap > div > iframe,
  #wrap > div > h2{
    grid-area: auto / span 2;
  }
  #wrap > div > iframe {
    justify-self: center;
  }
}
#wrap > div:not(.count) > a {
  text-align: center;
  white-space: nowrap;
}
#wrap > div > a {
  border:  2px solid var(--rand-kleur);
  border-radius: 10px;
  padding: 0.2rem 0.5rem;
  text-decoration: none;
}
a {
  color: var(--link-kleur);
}
#wrap > div > a{
  background-color: var(--achtergrond-kleur);
}
#wrap > div > a:focus{
  color: var(--tekst-kleur);
}
#wrap > div > a:active{
  background-color: var(--tekst-kleur);
}
#wrap > div > a:active,
#wrap > div > a:hover{
  border: 2px solid var(--tekst-kleur);
}
a:active,
a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 260px){
  header svg#logo{
    display: block;
  }
}
@media screen and (min-width: 400px){
  @supports (display: grid) {
    #wrap > div{
      grid-template-columns: repeat(3, 1fr);
    }
    #wrap > div > h2,
    #wrap > div > iframe {
      grid-area: auto / span 3;
    }
  }
  img.schema {
    max-width: 308px;
  }
  img.chopped {
    max-height: 270px;
  }
}
@media screen and (min-width: 600px){
  header svg{
    max-width: 170px;
  }
  header svg#logo text{
    display: initial;
  }
  img {
    align: center;
  }
  #wrap > div > iframe {
    width:  360px;
    height: 360px;
  }
  @supports (display: grid) {
    .overzicht{
      grid-template-rows: repeat(8, 1.4em);
    }
    #wrap > div {
      gap: 14px;
      align-items: end;
      grid-template-columns: repeat(4, 1fr);
    }
    #wrap > div > iframe,
    #wrap > div > h2{
      grid-area: auto / span 4;
    }
  }
}
@media screen and (min-width: 700px){
  header svg{
    max-width: 240px;
  }
  footer > time,
  header svg#logo text tspan{
    display: initial;
  }
  .codehilite {
    margin: 2rem 0 2rem 2rem;
    line-height: 1.2;
  }
  @supports (display: grid) {
    .schema-container{
      grid-template-columns: min-content 1fr;
      grid-gap: 2rem;
      justify-items: start;
      align-items: center;
    }
    #wrap > div > h2{
      grid-area: auto / span 3;
    }
    #wrap > div > iframe {
      grid-area: 1 / 1 / span 8 / auto;
    }
  }
}
@media screen and (min-width: 860px){
  @supports (display: grid) {
    #wrap > div{
      grid-template-columns: repeat(5, 1fr);
    }
    #wrap > div > h2{
      grid-area: auto / span 4;
    }
  }
  #loader {
    margin-left: calc((840px - 140px)/2);
  }
  #naarBoven {
    right: unset;
    left: calc(780px - 1rem);
  }
}
