:root{
  touch-action: none;
}
body {
  color: white;
  background-image: radial-gradient(gray,black);
  height: 100vh;
  width: 100vw;
  margin: 0;
}
#spel {
  border: 5px #ffffff50 solid;
  box-sizing: border-box;
  margin: auto;
  width:  100vmin;
  height: 100vmin;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}
.slang, .prooi{
  border: .5vmin solid;
  box-sizing: border-box;
  border-color: #ffffff50 #00000050 #00000050 #ffffff50;
}
.slang {
  background-color: hsl(210, 100%, 50%);
}
.prooi {
  background-color: hsl(50, 100%, 50%);
}

#score{
  padding: 0.5rem 1rem;
  text-align: center;
  min-width: 3rem;
}

.aanraakscherm{
  display:  none;
  width:    40vmin;
  height:   40vmin;
  position: absolute;
  bottom:   0;
  right:    2vmin;
}
.aanraakscherm > svg{
  padding: 3vmin;
  width:  12vmin;
  height: 12vmin;
  border-radius: 6vmin;
  box-sizing: border-box;
  background-color: #ffffff10;
}
@media (any-pointer: coarse){
  .aanraakscherm{
    display: flex;
  }
  @supports (display: grid) {
    .aanraakscherm{
      display:  grid;
      grid-gap: 2vmin;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
  }
}
