body {
  width:  100vw;
  height: 100vh;
  margin: 0;
  color:  white;
  background-image: radial-gradient(gray,black);
}
#spel {
  border: 5px #ffffff50 solid;
  box-sizing: border-box;
  margin: auto;
  width:  calc(100vh / 18 * 12);
  height: 100vh;
  display: grid;
  grid-template-rows:    repeat(18, 1fr);
  grid-template-columns: repeat(12, 1fr);
}
.blokje{
  border: .5vmin solid;
  box-sizing: border-box;
  border-color: #ffffff50 #00000050 #00000050 #ffffff50;
  background-color: gray;
}
