:root{
  font-size: 6vmin;
  touch-action: none;
}
body {
  width:  100vw;
  height: 100vh;
  margin: 0;
  color:  white;
  background-image: radial-gradient(gray,black);
}
#spel {
  border: 5px #ffffff50 solid;
  box-sizing: border-box;
  margin: auto;
  width:  calc(70vh / 18 * 12);
  height: 70vh;
  display: grid;
  grid-template-rows:    repeat(18, 1fr);
  grid-template-columns: repeat(12, 1fr);
}
aside {
  height: 30vh;
}

@media (orientation: landscape) {
  #spel {
    width:  calc(100vh / 18 * 12);
    height: 100vh;
  }
  aside {
    height: initial;
    width: 40vmin;
    float: right;
  }
}
.lijn, .blokje {
  border: .5vmin solid;
  box-sizing: border-box;
  border-color: #ffffff50 #00000050 #00000050 #ffffff50;
}
.lijn {
  background-color: hsl(50, 100%, 50%);
  grid-column-end: 13;
}
.blokje {
  background-color: gray;
}

.I{ background-color: hsl(  0, 90%, 50%); }
.Z{ background-color: hsl( 30, 90%, 50%); }
.S{ background-color: hsl( 60, 90%, 40%); }
.O{ background-color: hsl( 90, 100%, 40%); }
.T{ background-color: hsl(180, 100%, 30%); }
.J{ background-color: hsl(200, 100%, 30%); }
.L{ background-color: hsl(220, 90%, 40%); }

#score, #spel {
  float: left;
}
#score{
  padding: 0.5rem 1rem;
  text-align: center;
  min-width: 3rem;
}

.aanraakscherm{
  display:  none;
  width:    40vmin;
  height:   40vmin;
  position: absolute;
  bottom:   0;
  right:    2vmin;
}
.aanraakscherm > svg{
  padding: 3vmin;
  width:  12vmin;
  height: 12vmin;
  border-radius: 6vmin;
  box-sizing: border-box;
  background-color: #ffffff10;
}
@media (any-pointer: coarse){
  .aanraakscherm{
    display: flex;
  }
  @supports (display: grid) {
    .aanraakscherm{
      display:  grid;
      grid-gap: 2vmin;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
  }
}
