body {
  color: white;
  background-image: radial-gradient(gray,black);
  height: 100vh;
  width: 100vw;
  margin: 0;
}
#spel {
  border: 5px #ffffff50 solid;
  box-sizing: border-box;
  margin: auto;
  width:  100vmin;
  height: 100vmin;
}
