body {
  color: white;
  background-image: radial-gradient(gray,black);
  height: 100vh;
  width: 100vw;
  margin: 0;
}
#spel {
  border: 5px #ffffff50 solid;
  box-sizing: border-box;
  margin: auto;
  width:  100vmin;
  height: 100vmin;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}
.slang, .prooi{
  border: .5vmin solid;
  box-sizing: border-box;
  border-color: #ffffff50 #00000050 #00000050 #ffffff50;
}
.slang {
  background-color: hsl(210, 100%, 50%);
}
.prooi {
  background-color: hsl(50, 100%, 50%);
}
