body {
  width:  100vw;
  height: 100vh;
  margin: 0;
  color:  white;
  background-image: radial-gradient(gray,black);
}
#spel {
  border: 5px #ffffff50 solid;
  box-sizing: border-box;
  margin: auto;
}
