:root{
  touch-action: none;
  overflow: hidden;
}
body {
  color: white;
  background-image: radial-gradient(gray,black);
  height: 100vh;
  width:  100vw;
  margin: 0;
}
#spel {
  border: 5px #ffffff50 solid;
  box-sizing: border-box;
  width:  100vmin;
  height: 100vmin;
  display: inline-grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}
.slang, .prooi{
  border: .5vmin solid;
  box-sizing: border-box;
  border-color: #ffffff50 #00000050 #00000050 #ffffff50;
}
.slang {
  background-color: hsl(210, 100%, 50%);
}
.prooi {
  background-color: hsl(50, 100%, 50%);
}

aside {
  display: none;
  width:   6em;
  height:  6em;
  font-size: 10vmin;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:    1fr 1fr 1fr;
  align-items:  stretch;
  justify-items:stretch;
  position: absolute;
  right:  0.5em;
  bottom: 0.5em;
}
aside > button {
  color:      black;
  border:     none;
  font-size:  inherit;
  appearance: none;
  text-align: center;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #90909090;
}
#boven,#beneden {
  grid-column-start: 2;
}
#links,#rechts {
  grid-row-start: 2;
}
#rechts {
  grid-column-start: 3;
}
#beneden {
  grid-row-start: 3;
}
@media (any-pointer: coarse){
  aside {
    display: grid;
  }
}
