</footer>
</article>
<script>
(function () {
  const knop = document.getElementById("naarBoven")
  const naarBoven = () => {
    let isAanTScrollen = false;
    let isAanTScrollenTimeout;
    let media = window.matchMedia('(prefers-reduced-motion: reduce)');
    if (media.matches) {
      scrollTo(0,0);
      return;
    }
    addEventListener(
      "wheel",
      () => {
        isAanTScrollen = true;
        clearTimeout(isAanTScrollenTimeout)
        isAanTScrollenTimeout = setTimeout(() => {
          isAanTScrollen = false;
        }, 100)
      },
      { passive: true }
    )

    const c = document.documentElement.scrollTop || document.body.scrollTop
    if (!isAanTScrollen && c > 0) {
      requestAnimationFrame(naarBoven)
      scrollTo(0,c - c / 8)
    }
  }
  addEventListener("scroll", () => {
    knop.classList[window.scrollY > 750 ? "add" : "remove"](
      "zichtbaar"
    )
  })
  knop.addEventListener("click", naarBoven);
  window.addEventListener('keydown', e => {
    switch (e.key) {
      case "j":
        scrollByLines(4);
        break;
      case "k":
        scrollByLines(-4);
        break;
      case "g":
        scrollTo(0,0);
        break;
      case "G":
        scrollTo(0,document.body.scrollHeight);
        break;
    }
  });
})();
</script>
</body>
</html>
